In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('2008.csv')
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

https://www.kaggle.com/datasets/vikalpdongre/us-flights-data-2008

This dataset is composed by the following variables:

    Year 2008
    Month 1-12
    DayofMonth 1-31
    DayOfWeek 1 (Monday) - 7 (Sunday)
    DepTime actual departure time (local, hhmm)
    CRSDepTime scheduled departure time (local, hhmm)
    ArrTime actual arrival time (local, hhmm)
    CRSArrTime scheduled arrival time (local, hhmm)
    UniqueCarrier unique carrier code
    FlightNum flight number
    TailNum plane tail number: aircraft registration, unique aircraft identifier
    ActualElapsedTime in minutes
    CRSElapsedTime in minutes
    AirTime in minutes
    ArrDelay arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS).
    DepDelay departure delay, in minutes
    Origin origin IATA airport code
    Dest destination IATA airport code
    Distance in miles
    TaxiIn taxi in time, in minutes
    TaxiOut taxi out time in minutes
    Cancelled *was the flight cancelled
    CancellationCode reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
    Diverted 1 = yes, 0 = no
    CarrierDelay in minutes: Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.
    WeatherDelay in minutes: Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.
    NASDelay in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
    SecurityDelay in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
    LateAircraftDelay in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [3]:
data.head().T

                        0       1       2       3       4
Year                 2008    2008    2008    2008    2008
Month                   1       1       1       1       1
DayofMonth              3       3       3       3       3
DayOfWeek               4       4       4       4       4
DepTime            2003.0   754.0   628.0   926.0  1829.0
CRSDepTime           1955     735     620     930    1755
ArrTime            2211.0  1002.0   804.0  1054.0  1959.0
CRSArrTime           2225    1000     750    1100    1925
UniqueCarrier          WN      WN      WN      WN      WN
FlightNum             335    3231     448    1746    3920
TailNum            N712SW  N772SW  N428WN  N612SW  N464WN
ActualElapsedTime   128.0   128.0    96.0    88.0    90.0
CRSElapsedTime      150.0   145.0    90.0    90.0    90.0
AirTime             116.0   113.0    76.0    78.0    77.0
ArrDelay            -14.0     2.0    14.0    -6.0    34.0
DepDelay              8.0    19.0     8.0    -4.0    34.0
Origin                IAD     IAD     IND     IND     IND
Dest                  TPA     TPA     BWI     BWI     BWI
Distance              810     810     515     515     515
TaxiIn                4.0     5.0     3.0     3.0     3.0
TaxiOut               8.0    10.0    17.0     7.0    10.0
Cancelled               0       0       0       0       0
CancellationCode      NaN     NaN     NaN     NaN     NaN
Diverted                0       0       0       0       0
CarrierDelay          NaN     NaN     NaN     NaN     2.0
WeatherDelay          NaN     NaN     NaN     NaN     0.0
NASDelay              NaN     NaN     NaN     NaN     0.0
SecurityDelay         NaN     NaN     NaN     NaN     0.0
LateAircraftDelay     NaN     NaN     NaN     NaN    32.0

In [4]:
data.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

Для выполнения задания оставим колонки, содержание время отправления и прибытия, а также пункты отправления и назначения.

In [6]:
print(data['Origin'].nunique())

303

In [7]:
print(data['Dest'].nunique())

304

In [6]:
essensial_data = data[['Year', 'Month', 'DayofMonth', 'DepTime', 'ArrTime', 'Origin', 'Dest']]

In [7]:
essensial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Year        int64
 1   Month       int64
 2   DayofMonth  int64
 3   DepTime     float64
 4   ArrTime     float64
 5   Origin      object
 6   Dest        object
dtypes: float64(2), int64(3), object(2)
memory usage: 374.4+ MB

Преобразуем данные о времени прибытия и отправления в формат времени.

In [8]:
essensial_data = essensial_data.rename(columns={'DayofMonth': 'Day'})

In [9]:
essensial_data = essensial_data.dropna(axis=0, subset=['DepTime', 'ArrTime'])

In [10]:
essensial_data.isna().sum()

Year       0
Month      0
Day        0
DepTime    0
ArrTime    0
Origin     0
Dest       0
dtype: int64

In [11]:
essensial_data[['DepTime', 'ArrTime']] = essensial_data[['DepTime', 'ArrTime']].astype('int16')

In [15]:
def convert_time(data, time_column_name):
    
    def to_military(x:int):
        y = str(x)
        while len(y) < 4:
            y = ''.join(['0', y])
        return  y
    
    def hours(x: str):
        return x[:2]
    def minutes(x: str):
        return x[2:]
    
    data['Temp'] = data[time_column_name].apply(lambda x: to_military(x))
    data['Hour'] = data['Temp'].apply(lambda x: hours(x))
    data['Minute'] = data['Temp'].apply(lambda x: minutes(x))
    data[time_column_name] = pd.to_datetime(data[['Year', 'Month', 'Day', 'Hour','Minute']])
    data.drop(['Temp', 'Hour', 'Minute'], axis=1, inplace=True)

In [16]:
convert_time(essensial_data, 'DepTime')

In [17]:
convert_time(essensial_data, 'ArrTime')

In [18]:
essensial_data.drop(['Year', 'Month', 'Day'], axis=1, inplace=True)

In [19]:
essensial_data.sort_values('DepTime', inplace=True)

In [20]:
essensial_data.head(10)

                   DepTime             ArrTime Origin Dest
296865 2008-01-01 00:01:00 2008-01-01 02:28:00    MDW  BWI
296940 2008-01-01 00:01:00 2008-01-01 01:17:00    MDW  MCI
546769 2008-01-01 00:02:00 2008-01-01 08:36:00    PDX  JFK
346517 2008-01-01 00:02:00 2008-01-01 05:29:00    DEN  FLL
354001 2008-01-01 00:02:00 2008-01-01 00:57:00    ATL  CHS
297024 2008-01-01 00:03:00 2008-01-01 03:23:00    MDW  TPA
115630 2008-01-01 00:03:00 2008-01-01 02:30:00    CLE  SAT
221281 2008-01-01 00:03:00 2008-01-01 07:48:00    OAK  IAD
296494 2008-01-01 00:04:00 2008-01-01 01:10:00    LAS  SAN
346488 2008-01-01 00:04:00 2008-01-01 05:28:00    DEN  PHL

Сохраняем данные.

In [21]:
essensial_data.to_csv('reduced_data.csv')